{% extends 'bom/bom-base.html' %}

{% load static %}
{% load materializecss %}

{% block head-title %}{{ title }}{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'bom/css/style.css' %}"/>
{% endblock %}

{% block bom-menu %}
<li><a href="{% url 'bom:home' %}">Cancel</a></li>
{% endblock %}


{% block content %}
    <script>
        function disableTransition(evt) {
            let transitionDiv = document.getElementById(evt.currentTarget.transitionId);
            let num_trans = parseInt("{{max_transitions}}", 10);
            let parent = transitionDiv.parentNode;
            let selects = transitionDiv.getElementsByTagName("select");
            let addTransBtn = document.getElementById("addNewTransitionBtn");

            if (addTransBtn)
                addTransBtn.removeAttribute("style");

            transitionDiv.style.display = "none";
            parent.appendChild(transitionDiv);

            for (let i = 0; i < selects.length; i++) {

                selects[i].disabled = true;
                console.log("disabled", selects[i]);
            }
            console.log("removed", transitionDiv);
        }
    </script>
    <div class="container-app">
        {% if profile.role == 'A' or user.is_superuser %}
        <!--        create workflow here...-->
            <div class="row">

                <form id="transitions_form" name="form" action="{% url 'bom:create-part-class-workflow' %}" method="post" class="col s12">
                    {% csrf_token %}
                    {% if editing_existing_workflow %}<input type="hidden" name="editing_existing_workflow" value="{{existing_workflow.id}}"/>{% endif %}
                    <h2>Workflow Information</h2>
                    <div class="row">
                        {{ workflow_form.non_field_errors }}
                        {{ workflow_form|materializecss:'m4 s12' }}
                    </div>

                    <h2>State Transitions</h2>

                    <div id="transitions">
                        {% for trans_form in transition_forms %}
                            {% with index=forloop.counter0 %}
                                <div class="row" id="transition{{index}}" style="border: 2px solid #67ba6a; border-radius: 25px; padding: 20px 0 0 20px; display: {% if index == 0 %} block; {% elif existing_transitions and index < existing_transitions|length %} block; {% else %} none; {% endif %}">
                                    {{ trans_form.index.non_field_errors }}
                                    {{ trans_form|materializecss:'m4 s12' }}
                                    {% if index != 0 %}
                                        <button class="waves-effect waves-light btn green lighten-1" type="button" id="removeTransitionBtn{{index}}">Delete</button>
                                        <script>
                                            var deleteBtn = document.getElementById("removeTransitionBtn{{index}}");
                                            deleteBtn.transitionId = "transition{{index}}";
                                            deleteBtn.addEventListener("click", disableTransition);
                                        </script>
                                    {% endif %}
                                </div>
                            {% endwith %}
                        {% endfor %}
                        <script>
                            let editingExistingWorkflow = ("{{workflow_id}}" != "None");
                            if (editingExistingWorkflow) {
                                // let existingTransitions = JSON.parse("{{existing_transitions|safe}}");
                                console.log("{{existing_transitions|safe}}");
                                {% for i in existing_transitions %}
                                    var selects = document.getElementById("transition{{forloop.counter0}}").getElementsByTagName("select");
                                    var selectedSource = "{{ i.source_state|safe }}";
                                    var selectedTarget = "{{ i.target_state|safe }}";

                                    // for (var i = 0; i < selects[0].options.length; i++) {
                                    //     if (selects[0].options[i].text == selectedSource) {
                                    //         selects[0].options[i].selected = true;
                                    //     }
                                    //     if (selects[1].options[i].text == selectedTarget) {
                                    //         selects[1].options[i].selected = true;
                                    //     }
                                    // }
                                    console.log(selects);
                                {% endfor  %}
                            }
                        </script>
                    </div>

                    <!--      Submit / Cancel      -->
                    <div class="row">
                        <div class="col s6">
                            <a href="javascript:history.back()" class="waves-effect waves-light btn-flat grey-text lighten-1" style="margin-left: -16px;">Cancel</a>
                        </div>
                        <div class="col s6 right-align">
                            <button class="waves-effect waves-light btn green lighten-1" type="button" id="addNewTransitionBtn">New Transition</button>
                            <button class="waves-effect waves-light btn green lighten-1" type="submit" name="action">Save</button>

                            <script>
                                document.getElementById("addNewTransitionBtn").addEventListener("click", addTransition, false);

                                function addTransition() {
                                    let numTrans = parseInt("{{max_transitions}}", 10);

                                    for (let i = 1; i < numTrans; i++) {
                                        let transitionDiv = document.getElementById("transition" + i.toString());

                                        if (transitionDiv.style.display === "none") {
                                            let selects = transitionDiv.getElementsByTagName("select");
                                            transitionDiv.parentNode.appendChild(transitionDiv);
                                            transitionDiv.style.display = "block";

                                            for (let i = 0; i < selects.length; i++) {
                                                selects[i].removeAttribute("disabled");
                                            }

                                            //numTrans/2 because materializecss adds ::after to each row in the 'transitions' div, so the length is actually twice what it should be...
                                            if (i >= numTrans/2) {
                                                document.getElementById("addNewTransitionBtn").style.display = "none";
                                            }

                                            break;
                                        }
                                    }
                                }


                            </script>
                        </div>
                    </div>
                </form>
                <p>Creating a new state will refresh the page, losing all unsaved data!</p>
                {% include 'bom/bom-form-modal.html' with modal_title='Create New State' form=new_state_form action=new_state_form_action name='submit-workflow-state-create' %}

            </div>
        {% else %}
            {% include 'bom/nothing-to-see.html' with required_privilege='Admin' %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
