{% extends 'bom/bom-base.html' %}

{% load static %}
{% load materializecss %}

{% block head-title %}{{ title }}{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'bom/css/style.css' %}"/>
{% endblock %}

{% block bom-menu %}
<li><a href="{% url 'bom:home' %}">Cancel</a></li>
{% endblock %}

{% block content %}
    <div class="container-app">
        {% if profile.role == 'A' or user.is_superuser %}
        <!--        create workflow here...-->
            <div class="row">

                <form id="transitions_form" name="form" action="{% url 'bom:create-part-class-workflow' %}" method="post" class="col s12">
                    {% csrf_token %}
                    <h2>Workflow Name</h2>
                    <div class="row">
                        {{ workflow_form.non_field_errors }}
                        {{ workflow_form|materializecss:'m4 s12' }}
                    </div>

                    <h2>State Transitions</h2>
                    <p>Note that the maximum allowed number of state transitions for each workflow is {{ max_transitions }}</p>

                    {% for trans_form in transition_forms %}
                        {% with index=forloop.counter0 counter=forloop.counter %}
                            <div class="row" id="transition{{index}}" style="border: 2px solid #67ba6a; border-radius: 25px; display: {% if index == 0 %} block; {% else %} none; {% endif %}">
                                <h5 style="text-align: center;">Transition {{counter}}</h5>
                                {{ trans_form.index.non_field_errors }}
                                {{ trans_form|materializecss:'m4 s12' }}
                            </div>
                        {% endwith %}
                    {% endfor %}

                    <!--      Submit / Cancel        -->
                    <div class="row">
                        <div class="col s6">
                            <a href="javascript:history.back()" class="waves-effect waves-light btn-flat grey-text lighten-1" style="margin-left: -16px;">Cancel</a>
                        </div>
                        <div class="col s6 right-align">
                            <button class="waves-effect waves-light btn green lighten-1" type="button" id="removeTransitionBtn" style="display: none;">Remove Transition</button>
                            <button class="waves-effect waves-light btn green lighten-1" type="button" id="addNewTransitionBtn">New Transition</button>
                            <button class="waves-effect waves-light btn green lighten-1" type="submit" name="action">Save</button>

                            <script>
                                // APPROACH: Once submitted, check for and only process divs that are not null. If removing
                                // a div, ensure its values are set to null before it is hidden.
                                document.getElementById("addNewTransitionBtn").addEventListener("click", addTransitionDiv, false);
                                document.getElementById("removeTransitionBtn").addEventListener("click", removeTransitionDiv, false);

                                function addTransitionDiv() {
                                    let num_trans = parseInt("{{max_transitions}}", 10);

                                    for (let i = 1; i < num_trans; i++) {
                                        let transitionDiv = document.getElementById("transition" + i.toString());
                                        if (transitionDiv.style.display === "none") {
                                            if (i == num_trans-1) {
                                                document.getElementById("addNewTransitionBtn").style.display = "none";
                                            }

                                            let selects = transitionDiv.getElementsByTagName("select");
                                            for (let i = 0; i < selects.length; i++) {
                                                selects[i].removeAttribute("disabled");
                                            }

                                            transitionDiv.style.display = "block";
                                            document.getElementById("removeTransitionBtn").style.display = "block";
                                            break;
                                        }
                                    }
                                }

                                function removeTransitionDiv() {
                                    document.getElementById("addNewTransitionBtn").style.display = "block";
                                    for (let i = parseInt("{{max_transitions}}", 10)-1; i >= 0; i--) {
                                        let transitionDiv = document.getElementById("transition" + i.toString());

                                        if (transitionDiv.style.display === "block") {
                                            transitionDiv.style.display = "none";

                                            let selects = transitionDiv.getElementsByTagName("select");
                                            for (let i = 0; i < selects.length; i++) {
                                                selects[i].disabled = true;
                                                console.log("selects[i] from button", selects[i]);
                                            }

                                            if (i == 1) {
                                                document.getElementById("removeTransitionBtn").style.display = "none";
                                            }
                                            break;
                                        }
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </form>
                <p>Creating a new state will refresh the page, losing all unsaved data!</p>
                {% include 'bom/bom-form-modal.html' with modal_title='Create New State' form=new_state_form action=new_state_form_action name='submit-workflow-state-create' %}

            </div>
        {% else %}
            {% include 'bom/nothing-to-see.html' with required_privilege='Admin' %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
